<<<<<<< HEAD
.text-justify{
    text-align:justify
}

#productsGallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3rem;
    justify-content: center;
}

#cartIcon:hover{
    cursor: pointer;
=======
.text-justify{
    text-align:justify
}

#productsGallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3rem;
    justify-content: center;
}

#cartIcon:hover{
    cursor: pointer;
>>>>>>> 9ff1fa02ff0cdc6336e43b53d8fcf3794601d3fe
}